{% extends 'boards/base.html' %}
{% block body %}
<div style="text-align:center">
    <h3>게시글 목록</h3>
</div>


{% if user.is_authenticated %}

    <button type="button" class="btn btn-danger">
        <a href="{% url 'boards:create' %}">새 글 작성</a>
        
    </button>
    
    
{% else %}
    <a href="{% url 'accounts:login' %}">새 글을 작성하려면 로그인하세요</a>
{% endif %}    

<div class="row">
{% for board in boards %}
    
    
        <div class="col-4">
            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><b>{{ board.title }}</b></h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'accounts:profile' board.user.pk %}"><b>작성 : {{ board.user }}</b></a></h6>
                <a href="{% url 'boards:detail' board.pk %}">글 보러가기</a>
              </div>
            </div>

        </div>
{% endfor %}
</div>

{% endblock %}